<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="~{outlines/header::common}"></header> <!-- <header th:fragment="common"> 치환되는 부분 : common -->
        <main>
            <h1>메인 내용!</h1>
        </main>
        <footer th:replace="~{outlines/footer::common}"></footer> <!-- <footer th:fragment="common"> 치환되는 부분 : common -->
    </body>
</html>