<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class> <!-- 초기화 시 = init 사용 시 컨테이너 세팅함 -->
        <init-param>
            <param-name>contextClass</param-name> <!-- 스프링 컨테이너가 어떤 것인지 찾아줌 -->
            <param-value>
                org.springframework.web.context.support.AnnotationConfigWebApplicationContext
            </param-value> <!-- 위에 얘가 스프링 컨테이너 -->
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name> <!-- 패키지 명을 포함한 클래스에 넣어줌 => 설정 관리 -->
            <param-value>
                configs.MvcConfig <!-- 설정 클래스 -->
                configs.ControllerConfig <!-- 설정 클래스 -->
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern> <!-- 모든 요청이 유입될 수 있도록 / 로 표기 -->
    </servlet-mapping>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
            org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param> <!-- 한국어 적용 -->
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern> <!-- filter 는 /* 로 모든 파일 받음 -->
    </filter-mapping>
</web-app>