<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
    </head>
    <body>
        <h1>회원가입</h1>
        <form method="post" autocomplete="off" th:object="${requestJoin}"> <!-- 선택 변수 식 으로 작성 -->
            <dl>
                <dt th:text="#{이메일}">이메일</dt> <!-- <spring:message code="이메일"/> -->
                <dd>
                    <input type="text" name="email" th:field="*{email}"> <!-- th:value="${requestJoin.email}" value="user01@test.org" 앞의 value 값을 뒤의 value 값으로 교체-->
                </dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                </dd>
            </dl>
            <dl>
                <dt>비밀번호확인</dt>
                <dd>
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                </dd>
            </dl>
            <dl>
                <dt>회원명</dt>
                <dd>
                    <input type="text" name="userName" value="사용자01">
                </dd>
            </dl>
            <div>
                <input type="checkbox" name="agree" value="true" id="agree">
                <label for="agree">회원가입 약관에 동의합니다.</label>
            </div>
            <button type="submit">가입하기</button>
        </form>
    </body>
</html>