<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.user.mappers.UserMapper">
    <resultMap id="userMap" type="org.choongang.user.entities.User">
        <result column="SEQ" property="seq" />
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
        <result column="USER_NAME" property="userName" />
        <result column="REG_DT" property="regDt" />
    </resultMap>

    <insert id="register"> <!-- 회원 가입 -->
        INSERT INTO MEMBER (SEQ, EMAIL, PASSWORD, USER_NAME) VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{userName})
    </insert>

    <select id="check" resultMap="userMap"> <!-- 이메일로 조회 -->
        SELECT SEQ, EMAIL, PASSWORD, USER_NAME, REG_DT FROM MEMBER WHERE EMAIL = #{email}
    </select>

    <select id="exists" resultType="int"> <!-- 회원 존재 여부 확인 -->
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL = #{email}
    </select>
</mapper>