<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %t - %m%n</pattern> <!-- %5p : 5글자 내로 오류 레벨 표기 %m : 메세지 5t : 날짜, 시간 -->
        </encoder>
    </appender>

    <root level="info"> <!-- info 이상 모든 오류 -->
        <appender-ref ref="stdout"/>
    </root>

    <logger name="org.choongang.member.mapper" level="DEBUG" />

</configuration>